@import '@fontsource/poppins';

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'poppins', sans-serif;
    background: #d9d9d9;
}

/* Define custom CSS variables if needed */
:root {
    --themePurple: #541554;
}
